/*
 @ Connection Setting Section Start
*/
.xpo_warning_msg {
    margin: 5px 0 15px !important;
    border-left-color: #ffb900 !important;
    background: #fff;
    border-left: 4px solid #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    padding: 3px 12px;
}

.pallet-detail .xpo_warning_msg {
    display: none;
}

.xpo_warning_msg p, .wrng_credential p, .not_allowed p {
    margin: .5em 0;
}

.connection_section_class_xpo .form-table tr .titledesc {
    width: 300px;
}

.connection_section_class_xpo .button-primary,
.connection_section_class_xpo .is-primary {
    margin-left: 27px;
    width: 160px !important;
    height: 40px;
    justify-content: center;
    text-transform: capitalize;
}

.connection_section_class_xpo .connection_save_button {
    margin-left: 15px;
    width: 190px !important;
    height: 40px;
    background: #298cba none repeat scroll 0 0 !important;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
}

.connection_section_class_xpo input[type="text"] {
    width: 350px;
    border-radius: 1px;
    height: 36px !important;
}

.connection_section_class_xpo label {
    cursor: default;
}

.connection_section_class_xpo p.submit {
    float: right;
    text-align: left;
    width: calc(100% - 310px);
}

.connection_section_class_xpo p.submit > * {
    line-height: 2.9 !important;
}

.woocommerce .connection_section_class_xpo table.form-table .forminp-radio ul {
    display: block !important;
}

.woocommerce .connection_section_class_xpo table.form-table .forminp-radio ul li {
    display: inline !important;
    margin: 0px 5px !important;
}

/*
 @ Quote Setting Section Start
*/


.quote_section_class_xpo label {
    cursor: default;
}

.quote_section_class_xpo .description {
    font-style: normal !important;
    margin: 0px !important;
}

.quote_section_class_xpo input[type="text"] {
    width: 250px;
    border-radius: 1px;
    height: 36px !important;
}

.quote_section_class_xpo input[type="checkbox"] {
    cursor: default;
    height: 20px;
    width: 20px;
}

.quote_section_class_xpo input[type="checkbox"]:checked:before {
    width: 24px;
    padding-top: 2px;
}

.wp-admin select {
    height: 36px;
    border-radius: 1px;
}

.quote_section_class_xpo .form-table tr .titledesc {
    width: 300px;
}

.quote_section_class_xpo .button-primary,
.quote_section_class_xpo .is-primary {
    width: 120px !important;
    margin-left: 336px;
    height: 36px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    justify-content: center;
    text-transform: capitalize;
}

.quote_section_class_xpo p.submit {
  display: flex !important;
  justify-content: end !important;
}

.xpo_test_connection {
    font-size: 13px !important;
    width: 160px !important;
    text-align: center;
}

.xpo_test_connection:hover {
    background: #008ec2;
    color: #fff;
    border-color: #006799;
}

#wpfooter {
    position: static;
    margin-left: 0px !important;
}

#footer-left {
    margin-left: 160px !important
}


/*
 @ User Guide Section
 */
.user_guide {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
}

.user_guide p {
    font-size: 14px;
}

label[for="wc_settings_xpo_customer_number"]:after, label[for="wc_settings_xpo_plugin_licence_key"]:after, label[for="wc_settings_xpo_zipcode"]:after, label[for="wc_settings_xpo_username"]:after, label[for="wc_settings_xpo_password"]:after, label[for="xpo_warehouse_zip"]:after, label[for="xpo_warehouse_city"]:after, label[for="xpo_warehouse_state"]:after, label[for="xpo_warehouse_country"]:after {
    content: " *";
    color: red;
}

/*
 @ Product Detail
 */

.p_ds_location {
    width: 50% !important;
}

.woocommerce_variable_attributes div.data select {
    width: 100% !important;
}

.woocommerce_variable_attributes div.data .checkbox {
    margin-left: 0px !important;
    margin-right: 10px !important;
}

.form-row select {
    height: 35px !important;
}

/* font size quote setting page */
.wc_settings_xpo_residential th,
.avaibility_lift_gate th,
.xpo_quotes_liftgate_delivery_as_option th,
.wc_settings_xpo_liftgate th,
.avaibility_auto_residential th {
    margin-left: 10px !important;
    font-weight: 400;
}

/* font size quote setting page */
.en_woo_addons_liftgate_with_auto_residential_style th,
.wc_settings_xpo_residential th,
.avaibility_lift_gate th,
.wc_settings_xpo_liftgate th,
.xpo_quotes_liftgate_delivery_as_option th,
.avaibility_auto_residential th {
    padding: 0px 0 15px 15px;
    margin-left: 10px !important;
    font-weight: 400;
}

.quote_section_class_xpo .en_woo_addons_liftgate_with_auto_residential_style td,
.quote_section_class_xpo .wc_settings_xpo_residential td,
.quote_section_class_xpo .avaibility_lift_gate td,
.quote_section_class_xpo .wc_settings_xpo_liftgate td,
.quote_section_class_xpo .xpo_quotes_liftgate_delivery_as_option td,
.quote_section_class_xpo .avaibility_auto_residential td {
    padding: 0px 15px 0px 10px
}

.hold_at_terminal_checkbox_status a {
    text-decoration: none;
    color: red;
    padding-left: 10px;
    font-size: 17px;
    font-weight: bold;
}

textarea.prevent_text_box {
    border-radius: 1px;
    font-size: 13px;
    line-height: 1.4;
    resize: vertical;
}

tr.xpo_freight_handling_weight_tr .description,
tr.wc_settings_xpo_handling_fee_2_tr .description,
tr.wc_settings_xpo_handling_fee_tr .description,
tr.xpo_hold_at_terminal_fee_tr .description,
tr.wc_xpo_settings_xpo_allow_other_plugins_tr .description,
tr.wc_settings_xpo_label_as_tr .description
tr.en_weight_threshold_lfq_tr .description {
    display: block !important;
}

.warehouse_heading.pakage_notify_instore_warehouse.heading_right a,
.warehouse_heading.instore_pakage_notify_instore_dropship.heading_right a,
.local-delivery-heading.pakage_notify_local_warehouse.heading_right a,
.local-delivery-heading.local_pakage_notify_local_dropship.heading_right a {
    text-decoration: none;
    font-size: 17px;
    color: red;
    font-weight: bold;
    padding-left: 10px !important;
    display: inline-block;
}

._nestedDimension, ._nestedStakingProperty {
    width: 50% !important;
}

._nestedMaterials_tr .description a {
    text-decoration: none;
    font-size: 17px;
    color: red;
    font-weight: bold;
    position: relative;
    font-style: normal;
    top: 3px;
}

._nestedMaterials_tr .description {
    font-style: normal;
    font-size: 13px;
}

.disabled_me._nestedDimension, .disabled_me._nestedStakingProperty {
    color: #000000;
}

/* Cuttoff Time */
input#service_xpo_estimates_title {
    display: none;
}

tr.xpo_estimates_title th {
    font-size: 1.2em;
}

tr.all_shipment_days_xpo_tr th {
    padding-left: 23px;
    font-weight: 400;
}

tr.xpo_shipment_day_tr {
    display: inline-block;
}

.quote_section_class_xpo table.form-table tbody {
    width: 100%;
    display: block;
}

tr.all_shipment_days_xpo_tr {
    display: inline;
}

tr.all_shipment_days_xpo_tr td {
    padding-left: 10px;
}

tr.xpo_shipment_day_tr th {
    display: none;
}

.quote_section_class_xpo tr.wc_pervent_proceed_checkout_eniture th {
    padding-left: 18px;
}

.xpo_ship_date_offset a {
    text-decoration: none;
    font-size: 17px;
    color: red;
    font-weight: bold;
    padding-right: 15px;
    position: relative;
    left: -130px;
    top: -2px;
}

.xpo_estimates_title a {
    text-decoration: none;
    font-size: 17px;
    color: red;
    font-weight: bold;
    padding-right: 15px;
    position: relative;
    left: -130px;
    top: -2px;
}

.plan_color {
    text-decoration: none;
    color: red !important;
    font-size: 17px;
    font-weight: bold;
}

.plan_color:hover, plan_color:active, plan_color:visited {
    color: #ff0000;
}

.xpo_freight_shipment_offset_days_tr th {
    padding-left: 23px;
    font-weight: 400;
}

.xpo_freight_shipment_offset_days_tr th label {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.xpo_freight_cutt_off_time_ship_date_offset th label {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.xpo_freight_cutt_off_time_ship_date_offset th {
    padding-left: 23px;
    font-weight: 400;
}

/*Fix estimate options*/
.quote_section_class_xpo td.forminp.forminp-radio ul li {
    display: block !important;
}

/* Weight threshold for LTL freight */
tr.hide_en_weight_threshold_lfq {
    display: none;
}
/* fdo va */
.en-coupon-code-div{
    background: #fff;
    border: 1px solid #c3c4c7;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    margin: 5px 15px 2px;
    padding: 1px 12px;
}

.en-coupon-notice{
    border-left-color: #72aee6;
}

.en-coupon-success{
    border-left-color: #00a32a;
}

.en-coupon-error{
    border-left-color: #d63638;
}

.en-coupon-btn-div{
    text-align: center;
    margin-bottom: 12px;
}

.en-error-message{
    color: #dc3232 !important;
}
/*fdo va*/
/* Create two equal columns that floats next to each other */
.half-column {
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

/* Clear floats after the columns */
.parent-column:after {
    content: "";
    display: table;
    clear: both;
}
.dn {
    display:none;
}
.dnblock {
    float: none;
    text-align: center;
    width: auto;
    padding-top: 0px;
}
.user_guide_fdo {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 70%;
    position: relative;
    transition: all 5s ease-in-out;
}
.user_guide_fdo p.submit {
    display: none;
}
#freightdesk_online_id {
    width: 98%;
    padding: 3px;
}

.woocommerce_variable_attributes.wc-metabox-content p span.description a {
    text-decoration: none;
    font-size: 17px;
    color: red;
    font-weight: bold;
    position: relative;
    font-style: normal;
    margin-left: 15px;
}

/* Product variant UI styles */
.woocommerce_variable_attributes.wc-metabox-content [class^="_dropship_location"],
.woocommerce_variable_attributes.wc-metabox-content [class^="_ltl_freight"],
.woocommerce_variable_attributes.wc-metabox-content [class^="_nmfc_number"],
.woocommerce_variable_attributes.wc-metabox-content [class^="_en_product_markup"],
.woocommerce_variable_attributes.wc-metabox-content [class^="_nestedPercentage"],
.woocommerce_variable_attributes.wc-metabox-content [class^="en_flat_rate_price"],
.woocommerce_variable_attributes.wc-metabox-content select._nestedDimension,
.woocommerce_variable_attributes.wc-metabox-content input._maxNestedItems,
.woocommerce_variable_attributes.wc-metabox-content select._nestedStakingProperty {
    width: 100% !important;
    max-width: 100% !important;
}
.woocommerce_variable_attributes.wc-metabox-content > p {
    margin: 15px !important;
}
.woocommerce_variable_attributes.wc-metabox-content .data h2.sbs_settings_title {
    padding: 0 !important;
    margin: 30px 0 -10px 3px !important;
}
.woocommerce_variable_attributes.wc-metabox-content h2 {
    padding: 0 !important;
    margin: 30px 0 0 30px !important;
}
.woocommerce_variable_attributes.wc-metabox-content [class^="_dropship_location"],
.woocommerce_variable_attributes.wc-metabox-content [class^="_ltl_freight"],
.woocommerce_variable_attributes.wc-metabox-content [class^="en_flat_rate_price"],
.woocommerce_variable_attributes.wc-metabox-content [class^="_en_product_markup"],
.woocommerce_variable_attributes.wc-metabox-content [class^="_nestedPercentage"],
.woocommerce_variable_attributes.wc-metabox-content [class^="_nestedDimension"],
.woocommerce_variable_attributes.wc-metabox-content [class^="_maxNestedItems"],
.woocommerce_variable_attributes.wc-metabox-content [class^="_nestedStakingProperty"] {
    margin: 2px 0 0;
    padding: 5px;
}
.woocommerce_variable_attributes.wc-metabox-content .data p[class*="en_flat_rate_price"] span.woocommerce-help-tip,
.woocommerce_variable_attributes.wc-metabox-content .data p[class*="_en_product_markup"] span.woocommerce-help-tip,
.woocommerce_variable_attributes.wc-metabox-content .data p[class*="_nestedPercentage"] span.woocommerce-help-tip,
.woocommerce_variable_attributes.wc-metabox-content .data p[class*="_nestedDimension"] span.woocommerce-help-tip,
.woocommerce_variable_attributes.wc-metabox-content .data p[class*="_maxNestedItems"] span.woocommerce-help-tip,
.woocommerce_variable_attributes.wc-metabox-content .data p[class*="_nestedStakingProperty"] span.woocommerce-help-tip {
    float: right;
}
.woocommerce_variable_attributes.wc-metabox-content .data p[class*="en_multiply_cart_quantity"],
.woocommerce_variable_attributes.wc-metabox-content .data p[class*="_enable_dropship"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_rot_ver"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_own_pack"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_multiple_packages"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_sao_pallet"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_vrf_pallet"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_nestedMaterials"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_hazardousmaterials"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_insurance_fee"] {
    display: flex;
    align-items: center;
}
.woocommerce_variable_attributes.wc-metabox-content .data p[class*="en_multiply_cart_quantity"] input[id^="en_multiply_cart_quantity"],
.woocommerce_variable_attributes.wc-metabox-content .data p[class*="_enable_dropship"] input[id^="_enable_dropship"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_rot_ver"] input[id^="_en_rot_ver"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_own_pack"] input[id^="_en_own_pack"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_multiple_packages"] input[id^="_en_multiple_packages"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_sao_pallet"] input[id^="_en_sao_pallet"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_vrf_pallet"] input[id^="_en_vrf_pallet"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_nestedMaterials"] input[id^="_nestedMaterials"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_vrf_pallet"] input[id^="_en_vrf_pallet"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_hazardousmaterials"] input[id^="_hazardousmaterials"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_insurance_fee"] input[id^="_en_insurance_fee"] {
    order: -1;
}
.woocommerce_variable_attributes.wc-metabox-content .data p[class*="en_multiply_cart_quantity"] input[id^="en_multiply_cart_quantity"],
.woocommerce_variable_attributes.wc-metabox-content .data p[class*="_enable_dropship"] input[id^="_enable_dropship"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_nestedMaterials"] input[id^="_nestedMaterials"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_hazardousmaterials"] input[id^="_hazardousmaterials"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_insurance_fee"] input[id^="_en_insurance_fee"] {
    margin: 0 10px 0 0 !important;
}
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_rot_ver"] input[id^="_en_rot_ver"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_own_pack"] input[id^="_en_own_pack"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_multiple_packages"] input[id^="_en_multiple_packages"] {
    margin: 0 10px 0 15px !important;
}
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_sao_pallet"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_vrf_pallet"] {
    margin-left: 30px !important;
}
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_sao_pallet"] input[id^="_en_sao_pallet"],
.woocommerce_variable_attributes.wc-metabox-content p[class*="_en_vrf_pallet"] input[id^="_en_vrf_pallet"] {
    margin-right: 10px !important;
}
.woocommerce_variable_attributes.wc-metabox-content .data fieldset[class*="_signature_required"] legend {
    margin-bottom: 5px !important;
}
.woocommerce_variable_attributes.wc-metabox-content .data fieldset[class*="_signature_required"] ul[class*="wc-radios"] li {
    padding: 0 !important;
}